[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
matplotlib = "*"
folium = "*"
python-dotenv = "*"
pandas = "*"
python-dateutil = "*"
datetime = "*"
tetrad-visualization-toolkit = {editable = true, path = "."}
pillow = "*"
colours = "*"

[dev-packages]

[requires]
python_version = "3.8"
