[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
matplotlib = "*"
folium = "*"
python-dotenv = "*"
pandas = "*"
python-dateutil = "*"
tetrad-visualization-toolkit = {file = "file:///Users/tombo/Tetrad/tetrad-viz-toolkit"}
colours = "*"
scipy = "*"
geopy = "*"
opencv-python = "*"
selenium = "*"
jupyterlab = "*"
numpy = "*"
notebook = "*"
DateTime = "*"
Pillow = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
